.container {
    display: inline-grid;
    grid-template-columns: 1440px;
    grid-template-rows: repeat(3, 450px);
    grid-gap: 50px;
}

header {
    border: 3px solid black;
    background-color:lightsalmon;
}

.main--container {
    border: 3px solid black;
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 1 / span 2;
}

.a {
    background-color: lavender;
}

.b {
    background-color: lightgreen;
}

footer {
    border: 3px solid black;
    background-color: lightskyblue;
}